<p id="notice"><%= notice %></p>

<h1 class="center"><%=@article.title%></h1>
<h4 class="center">By <%=@article.user.name %> on <%=@article.created_at%></h3>
<div class="article show wordwrap">
  <%= @article.content.html_safe %>
</div>
<% if can? :edit, @article %>
<%= link_to 'Edit', edit_article_path(@article) %> |<% end %>
<%= link_to 'Back', articles_path %>
