    <header class="nav navbar-default">
    <div class="container">
    	<ul class="nav navbar-nav">
    	    <li><%= link_to "ARTICLES", root_path, class: "nav navbar-brand" %></li>
    	    <li><%= form_tag articles_path, method: 'get', class: "navbar-form" do %>
                <div class="input-group">
                    <%= text_field_tag :search, params[:search], class: "form-control" %>
                    <div class="input-group-btn">
                    <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
                    </div>
                </div>
            <% end %></li>
    	</ul>
    	<ul class="nav navbar-nav navbar-right">
    	    <% if user_signed_in? %>
                <%= render 'layouts/dropdown' %>
    	    <% else %>
    	        <li><%=link_to "Login", user_google_oauth2_omniauth_authorize_path %></li>
    	    <% end%>
    	    <% if current_user.admin? %>
    	        <%= render 'layouts/admin' %>
    	    <% end %>
    	    <li><%=link_to "Articles", articles_path %></li>
    	    <li><%=link_to "Categories", categories_path %></li>
    	</ul>
    </div>
    </header>
    <header class="nav navbar-inverse">
    <div class="container">
        <ul class="nav navbar-center navbar-nav">
            <% @featured_categories.each do |c| %>
                <li><%= link_to c.title, c %></li>
            <% end %>
        </ul>
    </div>
    </header>