<div class="preview">
    <%= link_to image_tag(article.image, size: ("100")), article %>
    <%= link_to article.title, article, class: "h2" %><br>
    <br>
    <%= truncate strip_tags( article.content) , :length => 125, :separator => ' ' %>
    <br>
    <%= link_to 'MORE', article, class: 'h4' %>
    <% if can? :delete, article %>
        | 
        <%= link_to('Delete', article,
              method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
    <% end %>
</div>
<hr></hr>